.wrapperPryaniki,
.wrapperZephir {
    margin: 10% auto;
    position: relative;
    margin-bottom: 15%;
}

.sliderPryaniki,
.sliderZephir {
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}

.slider-line-Pryaniki,
.slider-line-Zephir {
    display: flex;
    transition: all ease 1s;
}

.slider-line-Pryaniki,
.slider-line-Zephir img {
    width: 100%;
    height: 100%;
}


@media(min-width:1080px) {

    .wrapperPryaniki,
    .wrapperZephir {
        width: 80%;
        height: 30%;
    }

    .slider-line-Pryaniki img, .slider-line-Zephir img {
        margin-bottom: auto;
        border-radius: 5%;
    }
}


@media (min-width: 760px) and (max-width: 1080px) {

    .wrapperPryaniki,
    .wrapperZephir {
        width: 75%;
        height: 30%;
    }

    .slider-line-Pryaniki img, .slider-line-Zephir img {
        margin-bottom: auto;
        border-radius: 5%;
    }
}

@media (min-width: 360px) and (max-width: 760px) {
    .wrapperPryaniki,
    .wrapperZephir {
        width: 70%;
        height: 30%;
    }
    
    .slider-line-Pryaniki img, .slider-line-Zephir img {
        margin-bottom: auto;
        border-radius: 5%;
    }
}