body {
  background-color: #f5c79f;
  width: auto;
}

.pryaniki-sets {
  line-height: 30%;
}

header div {
  background-image: url("../media/logo1.jpeg");
  margin: -8px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 5vh;
}

footer div {
  width: 100.5%;
  padding-left: 10px;
  margin: -8px;
  margin-top: 20%;
  background-color: #9e5308;
  justify-content: space-between;
}

footer a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

footer a img {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
  margin-top: 5px;
}

a span {
  font-size: 20px;
  font-family: 'Dancing script', cursive;
  color: #c4721f;
  vertical-align: auto;
  margin-left: auto;
}

footer p {
  display: block;
  text-align: center;
  font-family: 'Dancing script', cursive;
  font-size: 160%;
  color: #c4721f;
}

h1 {
  text-align: center;
  font-family: 'Dancing script', cursive;
  color: #c4721f;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container {
  display: flex;
}

.pryaniki,
.zephir {
  margin-top: 10%;
  border: 2px solid #eb3e13;
  border-radius: 5%;
  background: radial-gradient(circle, #f0ab6e, #f5c79f);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


h2 {
  text-align: center;
  font-family: 'Dancing script', cursive;
  color: #c4721f;
}

a {
  text-decoration: none;
}

.h2 {
  text-align: center;
  font-family: 'Dancing script', cursive;
  color: #c4721f;
}

.h3 {
  text-align: center;
  font-family: 'Dancing script', cursive;
  color: #c4721f;
  margin-top: 5%;
  margin-left: 5%;
}


@media(min-width: 1080px) {

  header div {
    height: 100vh;
  }

  h1 {
    font-size: 60px;
  }

  .pryaniki,
  .zephir {
    width: 45%;
  }

  h2 {
    font-size: 45px;
    margin-bottom: 10%;
  }



  .h2 {
    font-size: 35px;
  }

  .h3 {
    font-size: 30px;
  }



}


@media (min-width: 760px) and (max-width: 1080px) {
  header div {
    height: 50vh;
    margin-bottom: 5vh;
  }

  h1 {
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .container {
    display: block;
  }

  .pryaniki,
  .zephir {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

  }

  h2 {
    font-size: 45px;
    margin-bottom: 10%;
  }



  .h2 {
    font-size: 35px;
  }

  .h3 {
    font-size: 30px;
  }
}

@media (min-width: 360px) and (max-width: 760px) {
  header div {
    height: 50vh;
    margin-bottom: 5vh;
  }

  .container {
    display: block;

  }

  h1 {
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .pryaniki,
  .zephir {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

  }

  h2 {
    font-size: 40px;
    margin-bottom: 10%;
  }



  .h2 {
    font-size: 35px;
  }

  .h3 {
    font-size: 30px;
  }
}